@import './libs/variables';
@import './libs/normalize';
@import './libs/fonts';
@import './components/all';
@import './pages/allPages';

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

}