.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
  background: $white;

  h5 {
    color: $title;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 35px;
  }

  input {
    width: 524px;
    height: 93px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding-left: 35px;
    color: $black;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  input::placeholder {
    color: $black;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  button {
    margin-bottom: 20px;
    width: 524px;
    height: 108px;
    border-radius: 0px 18px 0px 0px;
    background: linear-gradient(90deg, rgb(13, 184, 214), rgb(32, 140, 147) 100%);
    cursor: pointer;
    color: $white;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border: none;
  }
}

.popup {
  display: block;
  position: fixed;
  top: 100px;
  padding: 0px 15px;
  left: 70px;
  right: auto;
  height: 60px;
  background-color: $white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.popup span {
  margin: auto;
}


@media screen and (max-width: 767px) {
  .form {
    padding: 10px;

  h5 {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}
}