header {
  width: 100%;
  height: 80px;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hamburger {
    display: none;
  }

  .menu-item-phone {
    display: none;
  }

  .header-menu--mobile {
    z-index: 100;
    padding-top: 18px;
    margin-left: auto;
    padding: auto;
    width: 160px;
    height: 180px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    background: white;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 80px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left: 70px;

    span {
      color: $aqua;
      font-family: 'Montserrat';
      font-size: 14.04px;
      font-weight: 600;
      line-height: 17px;
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
    list-style-type: none;
    margin-left: 30%;

    li {
      color: $black;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }

    li:hover {
      color: $aqua;
    }
  }

  .phone {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    cursor: pointer;
    align-items: center;
    margin-right: 70px;

    span {
      color: $aqua;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: right;
    }
  }
}

header .row__icons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-left: auto;
  margin-right: 50px;

  svg {
    fill: $aqua;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  header{
    ul{
      margin-left: 25%;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  header{
    ul{
      margin-left: 50px;
    }
    .row__icons {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      margin-left: auto;
      margin-right: 30px;
    
      svg {
        fill: $aqua;
        cursor: pointer;
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    position: relative;
  }
  header .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  header .row__icons {
    position: absolute;
    left: auto;
    right: 250px;
  }

  header .logo {
    margin-left: 0px;
  }
  header .logo svg {
    width: 30px;
    height: 19.38px;
  }
  .headerlink {
    position: absolute;
    margin-left: 25px;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  .hamburger .line {
    width: 25px;
    height: 2px;
    background-color: $aqua;
    display: block;
    margin-top: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
  }
  .menu-item {
    display: none;
  }

  .menu-item.active {
    display: block;
  }

  header .phone {
    display: none;
  }

  header .menu-item-phone.active {
    display: flex;
    margin: 0px;
  }

  header .menu-item-phone.active span {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    margin: auto;
    color: $aqua;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    position: relative;
  }

  header .row__icons {
    position: absolute;
    left: auto;
    right: 120px;
  }
  header .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  header .logo {
    margin-left: 0px;
  }
  header .logo svg {
    width: 30px;
    height: 19.38px;
  }
  .headerlink {
    position: absolute;
    margin-left: 25px;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  .hamburger .line {
    width: 25px;
    height: 2px;
    background-color: $aqua;
    display: block;
    margin-top: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
  }
  .menu-item {
    display: none;
  }

  .menu-item.active {
    display: block;
  }

  header .phone {
    display: none;
  }

  header .menu-item-phone.active {
    display: flex;
    margin: 0px;
  }

  header .menu-item-phone.active span {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    margin: auto;
    color: $aqua;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    position: relative;
  }
  header .row__icons {
    position: absolute;
    left: auto;
    right: 30px;
  }
  header .row__icons svg {
    width: 30px;
    height: 30px;
  }
  header .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  header .logo {
    margin-left: 15px;
  }
  header .logo svg {
    width: 30px;
    height: 19.38px;
  }
  .headerlink {
    position: absolute;
    margin: 0px;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  .hamburger .line {
    width: 25px;
    height: 2px;
    background-color: $aqua;
    display: block;
    margin-top: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
  }
  .menu-item {
    display: none;
  }

  .menu-item.active {
    display: block;
  }

  header .phone {
    display: none;
  }

  header .menu-item-phone.active {
    display: flex;
    margin: 0px;
  }

  header .menu-item-phone.active span {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    margin: auto;
    color: $aqua;
  }
}
