br {
  display: none;
}

footer {
  margin-top: 40px;
}

.AboutUs-top-main-noline {
  display: flex;
  flex-direction: row;
  column-gap: 99px;
  padding: auto;
}

.AboutUs-main {
  margin: 72px 0px 243px 0px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  .AboutUs-top-main {
    display: flex;
    flex-direction: column;

    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }

    &__text-info {
      max-width: 433px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400px;
      color: $dark-grey;
      margin-bottom: 93px;
    }

    &__title {
      color: $aqua;
      font-size: 38px;
      line-height: 44.88px;
      font-weight: 800px;
    }

    &__logo-info {
      display: flex;
      flex-direction: row;
      column-gap: 102px;
      margin: auto 0px;
    }

    &__logo-info-element {
      column-gap: 20px;
      display: flex;
      flex-direction: row;
    }

    &__logo-info-element svg {
      width: 80px;
      height: 80px;
    }

    &__number-text-info {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &__number-info {
      text-align: left;
      font-size: 36px;
      color: $aqua;
      font-weight: 800;
      line-height: 43.88px;
    }

    &__number-from-info {
      text-align: left;
      font-size: 18px;
      color: $dark-grey;
      font-weight: 400;
      line-height: 26px;
    }

    &__line {
      background-color: $aqua;
      width: 100%;
      height: 1px;
      bottom: 0;
    }
  }
  .AboutUs-bottom-main {
    display: flex;
    flex-direction: row;
    column-gap: 353px;

    &__contacts {
      display: flex;
      flex-direction: column;
      row-gap: 21px;
    }

    &__navigat-block {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }

    &__contact-element {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      padding: auto 0px;
    }

    &__title {
      color: $aqua;
      font-weight: 800;
      font-size: 36px;
      line-height: 43.88px;
    }

    &__name {
      margin: auto 0px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.94px;
    }

    &__social-network-element {
      display: flex;
      flex-direction: row;
      width: 482px;
      justify-content: space-between;
    }

    &__social-network-info {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
    }

    &__social-button {
      width: 157px;
      height: 33px;
      border-radius: 25px;
      background: linear-gradient(87.14deg, rgb(13, 184, 214) 0.11%, rgb(32, 140, 147) 99.901%);
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 17.07px;
      align-items: center;
      color: $white;
      margin: auto 0px;
      cursor: pointer;
    }

    &__text-button {
      color: $white;
    }

    &__biglogoblock {
      display: flex;
      flex-direction: column;
      row-gap: 22.05px;
      align-items: center;
    }

    &__biglogotext {
      color: $aqua;
      font-weight: 600;
      font-size: 32px;
      line-height: 39.01px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  br {
    display: block;
  }

  .AboutUs-top-main-noline {
    column-gap: 207px;
  }

  .AboutUs-main {
    margin: 50px 0px 111px 0px;

    .AboutUs-top-main {
      column-gap: 207px;

      &__logo-info {
        flex-direction: column;
        row-gap: 30px;
        margin: 0px;
      }

      &__text-info {
        max-width: 433px;
        margin-bottom: 132px;
      }

      &__logo-info {
        flex-direction: column;
        row-gap: 30px;
        margin: 0px;
      }
    }

    .AboutUs-bottom-main {
      column-gap: 48px;

      &__biglogo {
        width: 350px;
        height: 226.07px;
      }

      &__biglogoblock {
        row-gap: 15.43px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  br {
    display: block;
  }

  .AboutUs-main {
    margin: 50px 0px 111px 0px;

    .AboutUs-top-main {
      column-gap: 207px;

      &__title {
        margin-top: 22px;
      }

      &__logo-info {
        flex-direction: column;
        row-gap: 30px;
        margin: auto;
      }

      &__text-info {
        max-width: 324px;
        margin-bottom: 88px;
      }
    }

    .AboutUs-bottom-main {
      column-gap: 48px;

      &__contacts {
        width: 352px;
      }

      &__biglogo {
        width: 350px;
        height: 226.07px;
      }

      &__biglogoblock {
        row-gap: 15.43px;
      }

      &__social-network-element {
        width: 325px;
      }
    }

    .AboutUs-bottom-main {
      column-gap: 34px;

      &__social-network-element {
        width: 325px;
      }

      &__social-network-info {
        column-gap: 10px;
      }

      &__social-button {
        width: 117px;
      }

      &__biglogo {
        width: 300px;
        height: 193.77px;
      }

      &__biglogoblock {
        row-gap: 15.43px;
      }

      &__biglogotext {
        font-size: 22px;
        line-height: 22.82px;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  br {
    display: block;
  }

  .AboutUs-main {
    margin: 0px;
    padding: 15px;

    .AboutUs-top-main {
      flex-direction: column;
      row-gap: 60px;
      align-items: center;

      &-noline {
        flex-direction: column;
        row-gap: 60px;
        align-items: center;
      }

      &__info {
        row-gap: 4px;
      }

      &__title {
        font-size: 22px;
      }

      &__text-info {
        max-width: 450px;
        font-size: 14px;
        margin-bottom: 0px;
      }

      &__logo-info {
        flex-direction: column;
        row-gap: 30px;
        margin: 0px;
      }

      &__text-info {
        max-width: 450px;
      }

      &__logo-img {
        width: 40px;
        height: 40px;
        margin: auto 0px;
      }

      &__logo-info {
        row-gap: 0px;
      }

      &__logo-info-element svg {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin: auto 0px;
      }

      &__number-text-info {
        row-gap: 0px;
      }

      &__number-info {
        font-size: 36px;
      }

      &__number-from-info {
        font-size: 14px;
      }
    }
    .AboutUs-bottom-main {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;

      &__contacts {
        row-gap: 15px;
        margin-left: 15px;
        margin-right: auto;
        width: 450px;
      }

      &__title {
        font-size: 22px;
      }

      &__social-network-element {
        width: 450px;

        column-gap: 0px;
      }

      &__biglogo {
        width: 200px;
        height: 129.18px;
      }

      &__biglogotext {
        font-size: 22px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  br {
    display: block;
  }

  .AboutUs-main {
    margin: 0px;
    padding: 15px;

    .AboutUs-top-main {
      &-noline {
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
      }

      &__info {
        row-gap: 4px;
      }

      &__title {
        font-size: 22px;
      }

      &__text-info {
        max-width: 300px;
        font-size: 14px;
        margin-bottom: 0px;
      }

      &__logo-info {
        flex-direction: column;
        row-gap: 30px;
        margin: 0px 0px 16px 0px;
      }

      &__text-info {
        max-width: 450px;
      }

      &__logo-img {
        width: 40px;
        height: 40px;
        margin: auto 0px;
      }

      &__logo-info {
        row-gap: 0px;
      }

      &__logo-info-element svg {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin: auto 0px;
      }

      &__number-text-info {
        row-gap: 0px;
      }

      &__number-info {
        font-size: 36px;
      }

      &__number-from-info {
        font-size: 14px;
      }
    }
    .AboutUs-bottom-main {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      width: 290px;

      svg {
        width: 30px;
        height: 30px;
      }

      &__name {
        font-size: 14px;
      }

      &__social-button {
        width: 110px;
      }

      &__contacts {
        row-gap: 15px;
        margin-left: 0px;
        margin-right: auto;
        width: 340px;
      }

      &__title {
        font-size: 22px;
      }

      &__social-network-element {
        width: 290px;
      }

      &__biglogo {
        width: 200px;
        height: 129.18px;
      }

      &__biglogotext {
        font-size: 22px;
      }
    }
  }
}
