.ItemPageComp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;

  .col {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;

    .coladapt {
      display: none;
    }

    .title {
      margin-top: 0;
      color: $title;
      font-family: 'Montserrat';
      font-size: 48px;
      font-weight: 600;
      text-align: left;
    }

    &__image {
      width: 850px;
      height: 520px;
      object-fit: contain;
      border-radius: 0px 57px 0px 0px;
      cursor: pointer;
    }

    .gallery {
      display: flex;
      flex-direction: row;
      column-gap: 29px;

      &__img {
        width: 96.59px;
        height: 80px;
        border-radius: 0px 16px 0px 0px;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }
}

.col2 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
  width: 595px;

  .rowPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    span {
      color: $title;
      font-family: 'Montserrat';
      font-size: 32px;
      font-weight: 500;
      text-align: left;
    }
  }

  .dopInfoPrice {
    color: $title;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    width: 80%;
    margin-left: auto;
  }
}

.row-price-adapt {
  display: none;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .ItemPageComp {
    margin-left: auto;
    margin-right: auto;
    .col {
      &__image {
        width: 700px;
        height: 420px;
      }
      .gallery {
        column-gap: 25px;
        width: 700px;
        overflow: hidden;

        .adapt-first {
          display: none;
        }
      }
    }
  }
  .description,
  .table {
    width: 700px;
  }
  .col {
    width: 788px;
  }
  .like {
    margin: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .ItemPageComp {
    display: flex;
    flex-direction: column;
    width: 924px;
    align-items: center;

    .col {
      width: 924px;

      .title-adapt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }

      .row-price-adapt {
        display: flex;
        column-gap: 201px;
        span {
          font-size: 24px;
          font-weight: 500;
          line-height: 28.8px;
        }
      }

      &__image {
        width: 850px;
        height: 520px;
      }

      .gallery {
        column-gap: 29px;

        .adapt-first {
          display: block;
        }
      }
    }
    .col2 {
      display: none;
      margin: auto;
    }
    .coladapt {
      display: flex;
    }
  }

  .description,
  .table {
    width: 850px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ItemPageComp {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    width: 708px;
    align-items: center;

    .col {
      width: 708px;
      overflow: hidden;

      .coladapt {
        display: flex;
      }

      .title-adapt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }

      .row-price-adapt {
        display: flex;
        column-gap: 82px;
        span {
          font-size: 24px;
          font-weight: 500;
          line-height: 28.8px;
        }
      }

      &__image {
        width: 708px;
        height: 417px;
      }

      .gallery {
        column-gap: 25px;

        .adapt-first {
          display: block;
        }

        .gallery__img {
          width: 70px;
          height: 70px;
        }
      }
    }
    .col2 {
      display: none;
      margin: auto;
    }
  }

  .description,
  .table {
    width: 708px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .ItemPageComp {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    width: 431px;
    align-items: center;

    .col {
      width: 431px;
      overflow: hidden;

      .title-adapt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        row-gap: 17px;
      }

      .row-price-adapt {
        display: flex;
        column-gap: 86px;
        span {
          font-size: 24px;
          font-weight: 500;
          line-height: 28.8px;
        }
      }

      &__image {
        width: 431px;
        height: 328px;
      }

      .gallery {
        column-gap: 25px;

        .adapt-first {
          display: block;
        }

        .gallery__img {
          width: 70px;
          height: 70px;
        }
      }
    }
    .col2 {
      display: none;
      margin: auto;
      width: 431px;
      align-items: center;
    }
    .coladapt {
      display: flex;
    }
  }

  .description,
  .table {
    width: 431px;
  }
  .form {
    width: 360px;
    height: auto;
  }
  .form input {
    width: 317.4px;
    height: 60px;
  }
  .form button {
    width: 317.4px;
    height: 60px;
    margin-bottom: 24.52px;
  }
  .table__row__type,
  .table__row__objData {
    font-size: 14px;
  }
  .table__row {
    column-gap: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .ItemPageComp {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    width: 431px;
    align-items: center;

    .col {
      width: 431px;
      overflow: hidden;

      .title{
        font-size: 34px;
      }

      .coladapt {
        display: flex;
      }

      .title-adapt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        row-gap: 17px;
      }

      .row-price-adapt {
        display: flex;
        column-gap: 86px;
        span {
          font-size: 24px;
          font-weight: 500;
          line-height: 28.8px;
        }
      }

      &__image {
        width: 431px;
        height: 328px;
      }

      .gallery {
        column-gap: 25px;

        .adapt-first {
          display: block;
        }

        .gallery__img {
          width: 70px;
          height: 70px;
        }
      }
    }
    .col2 {
      margin: auto;
      width: 431px;
      align-items: center;
    }
    .table__row__type,
    .table__row__objData {
      font-size: 14px;
    }
    .table__row {
      column-gap: 30px;
    }
  }

  .description,
  .table {
    width: 431px;
  }
  .form {
    width: 360px;
    height: auto;
  }
  .form input {
    width: 317.4px;
    height: 60px;
  }
  .form button {
    width: 317.4px;
    height: 60px;
    margin-bottom: 24.52px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .ItemPageComp {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: center;

    .col {
      width: 300px;
      row-gap: 15px;
      
      .title{
        font-size: 28px;
      }

      .coladapt {
        display: flex;
      }

      .title-adapt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        row-gap: 5px;

        .title {
          font-size: 22px;
        }
      }

      .row-price-adapt {
        display: flex;
        column-gap: 86px;
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 28.8px;
        }
      }

      &__image {
        width: 300px;
        height: 300px;
      }

      .gallery {
        column-gap: 25px;
        overflow: hidden;

        .adapt-first {
          display: block;
        }

        .gallery__img {
          width: 70px;
          height: 70px;
        }
      }
    }
    .col2 {
      display: none;
      margin: auto;
      width: 300px;
      align-items: center;
    }
  }

  .description,
  .table {
    width: 300px;
  }
  .form {
    width: 300px;
    height: auto;
  }
  .form input {
    width: 317.4px;
    height: 60px;
  }
  .form button {
    width: 264.29px;
    height: 50px;
    font-size: 22px;
    margin-bottom: 0px;
  }
  .table__row__type,
  .table__row__objData {
    font-size: 14px;
  }
  .table__row {
    column-gap: 30px;
  }
  .form h5 {
    font-size: 24px;
    margin-top: 10px;
  }
  .form input {
    width: 264.29px;
    height: 60px;
    padding-left: 18px;
  }
  .form input::placeholder {
    font-size: 12px;
  }
}
