.title{
    color: $title;
font-family: 'Montserrat';
font-size: 48px;
font-weight: 600;
line-height: 120%;
text-align: center;
margin-top: 70px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 100px;
    justify-content: center;
}